<section class="c-noticias-ultimas">
	<div class="c-subtitle c-subtitle--row-align">
		<div class="c-subtitle__head">
			<h2 class="c-subtitle__head-titulo">{{ 'Últimas noticias'|t }}</h2>
		</div>
	</div>
	<div class="c-noticias__container">
		<ul class="c-noticias__lista js-slider-noticias">
			{% for noticia in noticiasnovedades %}
				{% if noticia.fecha %}
					<li class="c-noticias__lista-item">
						<div class="c-tarjeta c-tarjeta--noticias">
							<div class="c-tarjeta__imagen">
								<a class="c-tarjeta__imagen-link" href="{{noticia.noticiaId}}" title="{{noticia.titulo}}">
									<img class="c-tarjeta__imagen-img" src="{{noticia.imagen}}" data-src="{{noticia.imagen}}" alt="{{noticia.titulo}}"></a>
							</div>
							<div class="c-tarjeta__texto">
								<h3>
									<a class="c-tarjeta__texto-link" href="{{noticia.noticiaId}}" title="{{noticia.titulo}}">{{noticia.titulo}}</a>
								</h3>
								<p>{{noticia.subtitulo}}</p>
								<a class="btn btn-circulo c-tarjeta__boton-flotante" href="{{noticia.noticiaId}}" title="{{noticia.titulo}}">
									<span class="icon anexar"></span>
								</a>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>

{% if noticiasnovedadesPaginado|length > 0 %}
<section class="c-noticias-mas">
	<div class="c-subtitle">
		<div class="c-subtitle__head">
			<h2 class="c-subtitle__head-titulo">{{ 'Más noticias'|t }}</h2>
		</div>
	</div>

	<div class="c-noticias__container">
		<ul class="c-noticias__lista c-noticias__lista--programas">
			{% for noticia in noticiasnovedadesPaginado %}
				{% if noticia.fecha %}
					<li class="c-noticias__lista-item">
						<div class="c-tarjeta c-tarjeta--small">
							<div class="c-tarjeta__imagen">
								<a class="c-tarjeta__imagen-link" href="{{noticia.noticiaId}}" title="{{noticia.titulo}}">
									<img class="c-tarjeta__imagen-img lazy" src="{{noticia.imagenthumbnail}}" data-src="{{noticia.imagenMobile}}" alt="{{noticia.titulo}}"></a>
							</div>
							<div class="c-tarjeta__texto">
								<h4 class="c-tarjeta__titulo">
									<a class="c-tarjeta__texto-link" href="{{noticia.noticiaId}}" title="{{noticia.titulo}}">{{noticia.titulo}}</a>
								</h4>
								<a class="o-btn__enlace-link js-mostrar-noticia" href="{{noticia.noticiaId}}" title="Leer más">
									<span class="o-btn__enlace-icon icon leer-mas"></span>Leer más</a>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}

		</ul>
	</div>
</section>
{% endif %}