<section class="listado-programas"><a class="o-btn__enlace-link o-btn__enlace-link-regresar" href="programas.html" title="Regresar"> <span class="o-btn__enlace-icon icon leer-mas"></span>Regresar</a>
 
{% if facturacion[0].titulogeneral %}
  <div class="c-title">
    <div class="c-title__head">
      <h1 class="c-title__head-titulo">{{ facturacion[0].titulogeneral}}</h1>
    </div>
  </div>
{% endif %}
<div class="c-catologo-programas-2">
  {% for fact in facturacion %}
  {% if fact.facturacionId %}
    <div class="tarjeta tarjeta--imagen-full tarjeta--imagen-izquierda tarjeta--imagen-izquierda-larga">
      <div class="tarjeta__imagen"><img class="tarjeta__imagen-img-normal lazy" src="#!" data-src="{{fact.imagen}}" alt="{{fact.titulo}}"></div>
      <div class="tarjeta__texto">
        <h2>{{fact.titulo}}</h2>
        <div class="tarjeta__texto-contenido">
          {{fact.descripcion|raw}}
        </div>
        <div class="tarjeta__descarga"><a href="{{fact.archivodescarga}}" title="Descargar Documento" download="#!">
            <h4>Descargar documento</h4></a>
          <p>Formato PDF</p><a class="btn btn-circulo btn-flecha" href="{{fact.archivodescarga}}" title="Agregar" download="#!"><span class="icon flecha-derecha"></span></a>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
</section>