{#
/**
 * @file
 * Default theme implementation to each level of menu.
 */
#}
{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  <ul{{ attributes.addClass('c-footer__redes-menu') }}>
  {% for key, item in items if key|first != '#' %}
    {% set menu_item_classes = [
      'c-footer__redes-item',
      item.is_expanded ? 'menu-item--expanded',
      item.is_collapsed ? 'menu-item--collapsed',
      item.in_active_trail ? 'menu-item--active-trail',
    ] %}

    <li{{ item.attributes.addClass(menu_item_classes) }}>
      {% if (item.span.class|length > 0) %}  
        <a href="{{ item.url }}" class="c-footer__redes-item-link"><span class="{{ item.span.class }}"></span></a>
      {% else %}
        <a href="{{ item.url }}" class="c-footer__redes-text">{{ item.title }}</a>
      {% endif %}
      {% set rendered_content = item.content|without('') %}
      {% if rendered_content|render %}
        {{ rendered_content }}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endmacro %}
